<!DOCTYPE html>
<html lang="en">

<head id="head_top">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Mob Cars- Pagina Inicial</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous" />
    <link href="https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Karla:wght@700&family=Raleway:wght@600&family=Roboto:wght@400&display=swap" rel="stylesheet" />
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
</head>

<body onload="myFunction(); getIndexData(); getPropertyData(); getTestimonialData(); getPageData();">
    <div id="load"></div>
    <section class="topnav">
        <div class="container">
            <div class="row">
                <div class="col-md-10">
                    <img class="brandLogo" src="" alt="" id="header_logo" />
                </div>
            </div>
        </div>
    </section>


    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="container navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="./inicial.html">Home</a>

                    <!-- <li class="nav-item">
            <a class="nav-link" href="propertydetails.html">PROPERTY</a>
          </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Compras
            </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="/">Itens da compra</a>
                            <a class="dropdown-item" href="/">Filias</a>
                            <a class="dropdown-item" href="./estoquev.html">Estoque</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">SAQ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <i class="fab fa-facebook-f icons mr-1"></i>
                            <i class="fab fa-twitter icons mr-1"></i>
                            <i class="fab fa-linkedin-in icons mr-1"></i>
                            <i class="fab fa-instagram icons mr-1"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="sign.html" id="logged_user">
                            <i class="fas fa-user icons mr-1"></i> Sign Up/ Register
                        </a>
                    </li>
            </ul>
        </div>
    </nav>
    <br>
    <BR>
    <div class="card bg-dark text-white">
        <img class="card-img" src="assets/img/menucars.jpg" alt="Imagem do card">
        <div class="card-img-overlay">
            <h5 class="card-title">MB CARS</h5>
            <p class="card-text">Número um no brasil a 10 anos no mercado automobilistico, a exclusividade é o nosso lema.</p>
        </div>
    </div>
    <br><br>
    <div class="container-align-items">
        <div class="row justify-content-center align-items-center">
            <h2 class="">Personalize seu carro</h2>
            <div class="row">
                <div class="col-md-6">
                </div>
            </div>
            <br>


        </div>
    </div>

    <section class="features">
        <div class="container">
            <h5 class="feat"></h5>
            <p class="feat1">

                <a href="listing.html">
                    <div class="col-lg-12" style="text-align: right;">

                        <button type="button" class="btn btn-success">+</button>


                    </div>
                </a>
            </p>
            <div class="card-group">
                <div class="card">
                    <img class="card-img-top  w-100 p-3" src="assets/img/l1.jpg" alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Lanborgini Aventador</h5>
                        <hr>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top w-auto p-3" src="assets/img/cam.jpg" alt="Card image cap">
                    <div class="card-body">
                        <br>
                        <h5 class="card-title">Camaro</h5>
                        <p class="card-text">Filial: Roma - Italia
                            <hr>
                            <a href="">Personalizar</a>
                            <a href="">Consulte estoque</a>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top w-auto p-3" src="assets/img/p911.jpg" alt="Card image cap">
                    <h5 class="card-title">Porshe 911</h5>
                </div>
            </div>
        </div>


        <!-- Carousel controls -->
        <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
            <i class="fa fa-angle-left icon"></i>
        </a>
        <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
            <i class="fa fa-angle-right icon" style="color: black;"></i>
        </a>
    </section>

    <!--solve error not responsive-->
    <section class="brands">
        <div class="container text-center">
            <div class="row" id="partner_target">
                <img src="images/partner03.png" alt="" />
                <img src="images/partner05.png" alt="" />
                <img src="images/partner04.png" alt="" />
                <img src="images/partner06.png" alt="" />
                <img src="images/partner08.png" alt="" />
                <img src="images/partner09.png" alt="" />
                <img src="images/partner10.png" alt="" />
                <img src="images/partner11.png" alt="" />
                <img src="images/partner12.png" alt="" />
            </div>
        </div>
    </section>

    <section class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-6">

                </div>
                <div class="col-md-6 text-right socially">
                    <div id="social">
                        <a class="facebookBtn smGlobalBtn" href="#" id="fb_link"><i class="fab fa-facebook-f"></i
              ></a>
                        <a class="twitterBtn smGlobalBtn" href="#" id="twitter_link"><i class="fab fa-twitter"></i
              ></a>
                        <a class="googleplusBtn smGlobalBtn" href="#" id="linked_link"><i class="fab fa-linkedin-in"></i
              ></a>
                        <a class="linkedinBtn smGlobalBtn" href="#" id="insta_link"><i class="fab fa-instagram"></i
              ></a>
                    </div>
                    <br />
                    <div class="mydiv">
                        <a href="" id="app_link">
                            <img class="myimage" src="images/app-image1.png" alt="" />
                        </a>
                        <a href="" id="play_link">
                            <img class="myimage" src="images/app-image2.png" alt="" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/js/all.min.js" integrity="sha256-MAgcygDRahs+F/Nk5Vz387whB4kSK9NXlDN3w58LLq0=" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <script>
        var slideIndex = 1;
        showSlides(slideIndex);

        function myFunction() {
            var preloader = document.getElementById("load");
            // sessionStorage.clear();
            // setInterval(() => {
            // 	if (sessionStorage.getItem('load') == 'done') {
            // 		preloader.style.display = 'none';
            // 	}
            // }, 500);
            preloader.style.display = "none";
        }

        function plusSlides(n) {
            showSlides((slideIndex += n));
        }

        function currentSlide(n) {
            showSlides((slideIndex = n));
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) {
                slideIndex = 1;
            }
            if (n < 1) {
                slideIndex = slides.length;
            }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.2/axios.min.js"></script>
    <script src="./js/index.js"></script>
    <script src="./js/multi.js"></script>
</body>

</html>