<div class="container-login">
  <img class="logo-app" src="assets/img/login.jpg" alt="Logo aplicativo">
  <form [formGroup]="form" (submit)="submit()">
    <p class="text-danger text-center" *ngIf="msgErro">{{msgErro}}</p>

    <div class="input-container">
      <img src="assets/img/user.png" alt="Nome">
      <input type="email" class="app-input input-email" placeholder="Nome" formControlName="Nome">
    </div>

    <div class="input-container">
      <img src="assets/img/doc.png" alt="CPF/CPNJ">
      <input type="email" class="app-input input-email" placeholder="CPF/CNPJ" formControlName="Nome">
    </div>

    <div class="input-container">
      <img src="assets/img/user.png" alt="Usuario">
      <input type="email" class="app-input input-email" placeholder="Informe seu e-mail" formControlName="login">
    </div>

    <div class="input-container">
      <img src="assets/img/key.png" alt="senha">
      <input type="password" class="app-input input-email" placeholder="Senha" formControlName="senha">
    </div>

    <div class="input-container">
      <img src="assets/img/key.png" alt="confSenha">
      <input type="password" class="app-input input-senha" placeholder="Confirmar Senha" formControlName="confSenha">
    </div>

    <button type="submit" class="btn-submit btn btn-primary" routerLink="/home">Cadastrar</button>
  </form>
</div>

